body {
  /* background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff; */

 /* // background-size: cover; */
 margin: 0;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff; /* added */
}

/* .input {
 width: 40%;
  padding: 10px; 
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
 
} */

/* .button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #fff;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
} */

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.button:focus {
  outline: none;
}
.bdy{
  background-image: url('../public/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  min-height: 100vh;   /* Set a minimum height of 100% viewport height */
  display: flex;       /* Use flexbox to stretch the container vertically */
  flex-direction: column
}

